<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <script>
        function doGet() {
            /* Option 2 */
            var url = "https://translate.googleapis.com/translate_a/single?client=gtx&sl=en&tl=hi&dt=t&q=hello"
            var result = JSON.parse(UrlFetchApp.fetch(url).getContentText());
           
            translatedText = result[0][0][0];
            var json = {
                'sourceText': sourceText,
                'translatedText': translatedText
            };
            alert(json.sourceText);
        }
    </script>
</head>
<body>
  <button onclick="doGet();">Click</button>
</body>
</html>

